<!-- Page -->
<div class="gla_page" id="gla_page">

  <!-- NAVIGATION -->
  <app-top-nav></app-top-nav>
  <!-- END of NAVIGATION -->

  <!-- Content -->
  <section id="gla_content" class="gla_content">

    <!-- section -->
    <section id="lightbox" class="gla_section gla_image_bck">


      <div class="container text-center">
        <h2 style="margin-top: 50px;">Gallery</h2>
        <p>Ниже представлен краткий обзор последних 2 удивительных лет. Нам не терпится приступить к работе над
          фотографиями супружеской пары!</p>

        <!-- filters -->
        <!-- <div class="button-group filter-button-group">
            <a data-filter="*">Show All</a>
            <a data-filter=".fun">Fun</a>
            <a data-filter=".family">Family & Friends</a>
            <a data-filter=".milestones">Milestones</a>
        </div> -->
        <!-- filters end -->

        <!-- grid -->
        <div class="gla_portfolio grid" style="position: relative; height: 1235.62px;">

          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td.jpg" class="lightbox">
                <img src="/assets/images/td/td.jpg" alt="">
              </a>
            </div>
          </div>

          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (2).jpg" class="lightbox">
                <img src="/assets/images/td/td (2).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (3).jpg" class="lightbox">
                <img src="/assets/images/td/td (3).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (4).jpg" class="lightbox">
                <img src="/assets/images/td/td (4).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (5).jpg" class="lightbox">
                <img src="/assets/images/td/td (5).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (6).jpg" class="lightbox">
                <img src="/assets/images/td/td (6).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (7).jpg" class="lightbox">
                <img src="/assets/images/td/td (7).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (8).jpg" class="lightbox">
                <img src="/assets/images/td/td (8).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (9).jpg" class="lightbox">
                <img src="/assets/images/td/td (9).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (10).jpg" class="lightbox">
                <img src="/assets/images/td/td (10).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (11).jpg" class="lightbox">
                <img src="/assets/images/td/td (11).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (12).jpg" class="lightbox">
                <img src="/assets/images/td/td (12).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (13).jpg" class="lightbox">
                <img src="/assets/images/td/td (13).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (14).jpg" class="lightbox">
                <img src="/assets/images/td/td (14).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/src/assets/images/td/tdmain.jpg" class="lightbox">
                <img src="/src/assets/images/td/tdmain.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (16).jpg" class="lightbox">
                <img src="/assets/images/td/td (16).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (17).jpg" class="lightbox">
                <img src="/assets/images/td/td (17).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (18).jpg" class="lightbox">
                <img src="/assets/images/td/td (18).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (19).jpg" class="lightbox">
                <img src="/assets/images/td/td (19).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (20).jpg" class="lightbox">
                <img src="/assets/images/td/td (20).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (21).jpg" class="lightbox">
                <img src="/assets/images/td/td (21).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (22).jpg" class="lightbox">
                <img src="/assets/images/td/td (22).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (23).jpg" class="lightbox">
                <img src="/assets/images/td/td (23).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (24).jpg" class="lightbox">
                <img src="/assets/images/td/td (24).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (25).jpg" class="lightbox">
                <img src="/assets/images/td/td (25).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (26).jpg" class="lightbox">
                <img src="/assets/images/td/td (26).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (27).jpg" class="lightbox">
                <img src="/assets/images/td/td (27).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (28).jpg" class="lightbox">
                <img src="/assets/images/td/td (28).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (29).jpg" class="lightbox">
                <img src="/assets/images/td/td (29).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (30).jpg" class="lightbox">
                <img src="/assets/images/td/td (30).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (31).jpg" class="lightbox">
                <img src="/assets/images/td/td (31).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (32).jpg" class="lightbox">
                <img src="/assets/images/td/td (32).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (33).jpg" class="lightbox">
                <img src="/assets/images/td/td (33).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (34).jpg" class="lightbox">
                <img src="/assets/images/td/td (34).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (35).jpg" class="lightbox">
                <img src="/assets/images/td/td (35).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (36).jpg" class="lightbox">
                <img src="/assets/images/td/td (36).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (37).jpg" class="lightbox">
                <img src="/assets/images/td/td (37).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (38).jpg" class="lightbox">
                <img src="/assets/images/td/td (38).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (39).jpg" class="lightbox">
                <img src="/assets/images/td/td (39).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (40).jpg" class="lightbox">
                <img src="/assets/images/td/td (40).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (41).jpg" class="lightbox">
                <img src="/assets/images/td/td (41).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/src/assets/images/td/tdmaintoo.jpg" class="lightbox">
                <img src="/src/assets/images/td/tdmaintoo.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (43).jpg" class="lightbox">
                <img src="/assets/images/td/td (43).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (44).jpg" class="lightbox">
                <img src="/assets/images/td/td (44).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (45).jpg" class="lightbox">
                <img src="/assets/images/td/td (45).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (46).jpg" class="lightbox">
                <img src="/assets/images/td/td (46).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (47).jpg" class="lightbox">
                <img src="/assets/images/td/td (47).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (48).jpg" class="lightbox">
                <img src="/assets/images/td/td (48).jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-4 gla_anim_box grid-item fun">
            <div class="gla_shop_item">
              <a href="/assets/images/td/td (49).jpg" class="lightbox">
                <img src="/assets/images/td/td (49).jpg" alt="">
              </a>
            </div>
          </div>
        </div>
        <!-- grid end -->

      </div>
      <!-- container end -->

    </section>
    <!-- section end -->

  </section>
  <!-- content section end -->

</div>
<!-- page end -->
